body {
    background-color: #f5f5f5;
    font-family: 'Poppins', sans-serif;
    min-width: 800px;
    max-height: 1400px;
    height: 80vh;
    margin: 0 auto;
}
main {

}


.header {
    background-color: #000000;
    height: 600px;
    width: 100%;
    margin-bottom: 145px;
}

.h1 {
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 500;
    position: absolute;
    margin: 0 10px;
}

.h2,
.h22,
.h23 {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    list-style: none;
    flex-direction: row;
    margin: 0 10px;

}

.header_img1 {
    position: relative;
    display: flex;
    width: 600px;
    height: 650px;
    top: 65px;
    left: 1000px;
}

.header_text {
    position: absolute;
    width: 460px;
    height: 120px;
    left: 330px;
    top: 139px;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 46px;
    font-style: normal;
    line-height: 62px;
}

.header_text_content {
    font: 400;
    font-size: 10px;
    line-height: 23px;
    position: absolute;
    width: 481px;
    height: 86px;
    left: 323px;
    top: 312px;
}

.header_btn {
    font-size: 15px;
    font-weight: 600;
    color: #140101;
    background-color: #F6AD09;
    position: absolute;
    width: 165px;
    height: 41px;
    left: 470px;
    top: 420px;
    bottom: 2px;
    text-align: center;
}

.base {
    background-color: #f5f5f5;
   
    
    left: 320px;
    top: 700px;
   
}

.image {
    display: flex;
    
    justify-content: space-around;
}

.image_1,
.image_2,
.image_3 {
    width: 400px;
    height: 500px;

}