body{
    background: #f5f5f5;
    font-family: 'Gentium Book Plus', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Marcellus SC', serif; 
}

.frame{
    width: 588px;
    height: 765px;
    top: -232px;
    left: -194px;
    text-align: center;
    margin: auto;
    background-color: #FFFFFF;
}

.border{
font: bolder;
font-size: 12px;
}

.style{
    text-align: center;
}