body {
    font-family: 'Space Grotesk', sans-serif;
    margin: 0 auto;
}

main {
    height: 959px;
    max-width: 1500px;
    background: #3E718E;
    margin: 0 auto;
}

label {
    display: flex;
    flex-direction: column;
}

input {
    margin: 0;
    padding: 0;
    width: 360px;
    height: 25px;
    border-radius: 5px;
}

.register_form_container {
    background-image: url(./image/Stroke5.png);
    background-color: #FFFFFF;
    width: 430px;
    height: 580px;
    margin: 0 auto;
    justify-content: center;
    padding-left: 15px;
}

.form_title {
    color: #496F74;
    font-size: 24px;
}

.form_title2 {
    color: #000000;
    font-size: 20px;
    text-align: center;
}

.decor {
    padding-left: 50px;
}

.btn {
    background-color: #27485D;
    border-radius: 1px;
    color: #FFFFFF;
    height: 30px;
    width: 240px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    margin: 0 auto;
}

.box {
    width: 23px;
    height: 26px;
    font-size: 14px;
    display: inline;
}

.content {
    color: #C4C4C4;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    padding-top: 12px;
}

.creativity {
    width: 430px;
    height: 580px;
    margin: 0 auto;
    justify-content: center;
    padding-right: 0px;
    background-color: #517879;
    box-shadow: 0px 0px 10px 9px #4E7577;
    opacity: 75%;
    position: relative;
}

.buttons {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: space-around;
    padding-right: -50px;
    padding-left: 250px;
}

.citate {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    position: absolute;
    top: 170px;
}

.citate2 {
    width: 280px;
    top: auto;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
}

.card {
    width: min-content;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    position: relative;
    top: 200px;
}