body {
    font-family: 'Inika', serif;
    font-weight: 700;
    position: relative;
}

.strong {
    height: 54px;
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    padding: 15px;
}

.title_blue {
    color: #3E45E8;
}

.title_yellow {
    color: #E8C23E;
}

.h2 {
    margin: 21px 0;
    font-size: 40px;
    font-weight: 700;
}

.line {
    width: 402px;
    border-bottom: 5px solid #3E45E8;
    border-width: 5px;
}

.banner {
    background-repeat: no-repeat;
    height: 803px;
    background-image: url("../img/image\ 1.png");
    background-size: cover;
    padding-top: 206px;
    box-sizing: border-box;
    padding-left: 4%;
}

.content {
    box-sizing: border-box;
    position: absolute;
    color: white;
    width: 70%;
    font-size: 38px;
    background-image: url("../img/flag.png");
    background-repeat: no-repeat;
    padding-left: 3%;
    padding-top: 4%;
}

.main {
    padding: 72px 80px 21px 80px;
}

.card {
    border: 1px solid black;
    width: 30%;
    color: #E8C23E;
    display: inline-block;
    border-radius: 32px;
    vertical-align: top;
    box-shadow: 0px 4px 57px 3px #00000040;
}

.card_image {
    width: 100%;
}

.card_margin {
    margin: 0 3%;
}

.card_title {
    font-size: 24px;
    box-sizing: border-box;
    padding: 10px;
    color: #1E8DF2;
}

.card_subtitle {
    font-size: 20px;
    font-weight: 400;
    color: #E8C23E;
    box-sizing: border-box;
    padding: 10px;
}

.card_image_map {
    width: 812px;
    height: 537px;
    left: 294px;
    top: 1786px;
}

.main_win_ukr {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
    width: 591px;
    height: 121px;
    background-color: #2A61F0;
    border: none;
    font-size: 64px;
    font-weight: 700;
    color: #FFFFFF;
}

.image_wrapper {
    margin: 41px 0;
}

.footer {
    height: 320px;
    background-color: #2F4A4B;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email {
    font-size: 36px;
    color: #A89D9D;
    font-family: 'Marcellus SC', serif;
    font-weight: 400;
    height: 49px;
}

.tel {
    font-size: 36px;
    color: #A89D9D;
    font-family: 'Marcellus SC', serif;
    font-weight: 400;
    height: 49px;
}