body {
    margin: 0;
    width: 100%;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    background: #f5f5f5;
}

.menu {
    height: 140px;
    background-color: #202846;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    color: #FFFFFF;
    justify-content: space-between;
    max-height: 90px;
}

.menu_logo {
    padding-left: 138px;
}

.menu_list_ul {
    list-style: none;
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-around;
    font-weight: 700;
    font-size: 18px;
}

.menu_list_ul>li {
    padding: 1%;
}

.main {
    background-color: #DCDCDC;
    position: relative;
}

.build {
    width: 80%;
    margin: 0 auto;
}

.h1 {
    width: 1920px;
    background-color: #C6C6DC;
    height: 140px;
    padding: 2, 5% 10%;
    font-size: 45px;
    font-style: italic;
    font-weight: 400;

}

.h2_title {
    background-color: #E8E8E8;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    height: 73px;
}

.btn {
    position: absolute;
    top: 175px;
    right: 200px;
}

.card {
    height: 300px;
    background-color: #AEAEE2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.card2 {
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    background-color: #BDBDC6;
    margin: 20px 0px;
}

.carg__img {
    width: 35%;
    height: 80%;
    overflow: hidden;
}

.carg__img img {
    height: 100%;
}

.card__content {
    width: 50%;
    height: 80%;
}

.card__content-title {
    font-weight: 700;
    font-style: italic;
    border-bottom: 3px solid white;
    font-size: 36px;
    margin-bottom: 2px;
}

.card__content-description {
    font-weight: 400;
    font-size: 22px;
    text-align: center;
    background-color: #D7D7DD;
    padding: 2px;
    display: flex;
}

.card-star,
.card-btn {
    position: absolute;
}

.card-star {
    right: 3px;
    top: 3px;
}

.card-btn {
    bottom: 0;
    right: -40px;
    width: 200px;
    padding: 12px;
    background-color: #EF075B;
    color: white;
    text-decoration: none;
    font-size: 24px;
    text-align: center;
    border-radius: 50px;
}

.card-btn2 {
    bottom: 10px;
    right: -40px;
    width: 200px;
    padding: 1%;
    background-color: #202846;
    color: white;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    position: absolute;
    text-align: center;
    border-radius: 50px;
}

/*для примера сделала остальные 
карточки и кнопки*/
.card2:hover {
    background-color: #AEAEE2;
    box-shadow: rgba (0, 0, 255, 0, 25);
}

.card-btn2:hover {
    background-color: #EF075B;
    box-shadow: rgba (255, 0, 0, 0, 25);
}

.ellipse {
    position: absolute;
    right: 12px;
    bottom: -519px;
    height: 101px;
    width: 101px;
    border-radius: 50%;
    background-color: #555768;
    display: flex;
    justify-content: center;
    align-items: center;
}

.personal {
    height: 140px;
    width: 1920px;

    font-size: 48px;
    font-style: italic;
    padding-left: 200px;
    align-items: center;
    background-color: #DCDCDC;
}

.contact {
    height: 498px;
    width: 1170px;
    margin: 40px auto;
    background-color: #BDBDC6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.contact_foto {
    width: 85%;
    padding-left: 40px;
    margin-bottom: 120px;
    box-sizing: border-box;
}

.contact_text {
    width: 1684px;
    height: 426px;
    font-weight: 700;
    font-style: italic;
    font-size: 27px;
    color: #353C57;
    padding-top: 45px;
}

.contact_text p {
    border-bottom: 3px solid #FFFFFF;
}

.contact_btn_avatar,
.contact_btn_setting {
    position: absolute;
}

.contact_btn_avatar {
    background-color: #69749B;
    color: white;
    font-size: 24px;
    text-align: center;
    border-radius: 50px;
    bottom: 140px;
    left: 23px;
    width: 235px;
    padding: 10px 0;
}

.contact_btn_setting {
    background-color: #484A54;
    color: white;
    font-size: 24px;
    text-align: center;
    border-radius: 50px;
    bottom: 70px;
    left: 23px;
    width: 235px;
    padding: 10px 0;
}

.contact_btn_exit {
    background-color: #202846;
    color: #FFFFFF;
    font-size: 27px;
    font-weight: 400;
    border-radius: 50px;
    text-align: center;
    justify-content: center;
    margin: 0 auto 7%;
    padding: 0, 5%;
    width: 10%;
}



.footer_up {
    font-weight: 400;
    font-size: 32px;
    display: flex;
    justify-content: space-evenly;
    margin: 5% 15%;
}

.footer_up_phone_title,
.footer_up_worktime_title,
.footer_up_mail_title,
.footer_down_address_title {
    border-bottom: 3px solid #202846;
}

.footer_up_phone_desc,
.footer_up_mail_desk,
.footer_up_mail_desk,
.footer_down_address_desc {
    margin-top: 4%;
}

.footer_down {
    font-weight: 400;
    font-size: 32px;
    display: flex;
    justify-content: space-evenly;
    margin: 5% 16%;
}

.goodle-map>ifraime {
    border: 3px solid rgba(0, 0, 0, 0.05);
    border-radius: 40px;
    height: 335px;
}

.footer_line {
    font-weight: 400;
    font-size: 36px;
    color: #EEECF1;
    background-color: #202846;
}