body {
    background-color: #e5e5e5;
}

div {
    float: left;
    position: relative;
    width: 30%;
    padding-bottom: 30%;
    margin: 30px;
}

img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}